.input-container > textarea {
  min-height: 12rem;
  margin-bottom: 1rem;
}

.input-container > button {
  background-color: transparent;
  border: 1px solid silver;
  border-radius: 4px;
  padding: 4px;
  cursor: pointer;  
}

.input-container > button:hover {
  background-color: silver;  
  resize: none;
}

.input-container > input {
  margin-bottom: 1rem;
}

.category-row {
  margin-bottom: 4rem;
}

.category-row label {
  color: black;
  margin-right: 2rem;
}

.category-row select {
  padding: 4px;
  background-color: 1px silver solid;  
}
